@import "tailwindcss";

.hanken-grotesk-400 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hanken-grotesk-700 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.clip-image {
    clip-path: circle(0% at center);
    border-radius: 50%;
    transition: clip-path 1s ease-in-out;
}

.clip-image-pinned {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 64px;
    height: 64px;
    object-fit: cover;
    z-index: 50;
    border-radius: 50%;
}
